@import url('https://fonts.googleapis.com/css2?family=Lato:400,600&display=swap');
* {
    box-sizing: border-box;
}

body {
    background-color: rgb(70, 70, 70);
    color: white;
    font-family: 'Lato', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    overflow: hidden;
    margin-bottom: 40px;
    border: 1px solid white;
    border-radius: 5%;
    box-shadow: 2px 2px 2px 2px rgba(31, 31, 31, 0.563);
    width: 50%;
    margin: auto;
    padding: 20px;
    margin-top: 50px;
}

h1 {
    margin: 10px 0 0;
    text-shadow: rgba(0, 0, 0, 0.583);
}

h3 {
    font-weight: 400;
    margin: 10px 0;
    text-shadow: rgba(0, 0, 0, 0.371);
}

small {
    text-shadow: rgba(0, 0, 0, 0.371);
}

.cup {
    background-color: rgb(123, 123, 123);
    border: 2px solid rgb(187, 187, 187);
    color: rgb(255, 255, 255);
    border-radius: 5px 5px 40px 40px;
    height: 330px;
    width: 150px;
    margin: 30px 0;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    box-shadow: 2px 2px 2px 2px rgba(31, 31, 31, 0.563);
}

.cup.cup-small {
    height: 95px;
    width: 60px;
    border-radius: 5px 5px 15px 15px;
    background-color: rgba(255, 255, 255, 0.9);
    cursor: pointer;
    font-size: 14px;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 5px;
    transition: 0.3s ease;
    color: black;
}

.cup.cup-small.full {
    background-color: #6b94d3;
    color: rgb(255, 255, 255);
}

.cups {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 280px;
}

.remained {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex: 1;
    transition: 0.3s ease;
}

.remained span {
    font-size: 20px;
    font-weight: bold;
}

.remained small {
    font-size: 12px;
}

.percentage {
    background-color: #7a99ff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 30px;
    height: 0;
    transition: 0.3s ease;
}

.text {
    text-align: center;
    margin: 0 0 5px;
}